/*
==============================
  Items 스타일
==============================
*/
.items__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 17px;
  padding-bottom: 35px;
}

@media (min-width: 768px) {
  .items__container {
    padding-top: 24px;
    padding-bottom: 58px;
    gap: 40px;
  }
}