.container {
  position: relative;
}

.trigger {
  display: flex;
  align-items: center;
  justify-content: center;
}

.triggerText {
  position: relative;
  display: none;
  text-wrap: nowrap;
  white-space: nowrap;
  width: 130px;
  font-weight: var(--font-weight-regular);
  font-size: var(--text-lg-size);
  line-height: var(--text-lg-line);
  color: var(--color-gray-800);
  text-indent: 20px;
  border: 1px solid var(--color-gray-200);
  padding: 12px 0;
  border-radius: 12px;
}

.triggerText::before {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  width: 24px;
  height: 24px;
  background-image: url("../../../../assets/images/icons/ic_arrow_down.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%) scaleY(1);
  transition: transform 0.3s ease-in-out;
}

.triggerTextActive::before {
  transform: translateY(-50%) scaleY(-1);
}

.triggerIcon {
  display: block;
  padding: 12px 0;
}

.list {
  position: absolute;
  right: 0;
  top: calc(100% + 8px);
  width: 130px;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid var(--color-gray-200);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.button {
  width: 100%;
  text-align: center;
  padding: 8px 0;
  font-weight: var(--font-weight-regular);
  font-size: var(--text-lg-size);
  line-height: var(--text-lg-line);
  color: var(--color-gray-800);
  border: none;
  background-color: #fff;
  cursor: pointer;
  border-top: 1px solid var(--color-gray-200);
}

.button:first-child {
  border-top: none;
}

.buttonActive {
  background-color: var(--color-gray-100);
}

@media (min-width: 768px) {
  .triggerText {
    display: block;
  }

  .triggerIcon {
    display: none;
  }
}
