.form {
  display: flex;
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  padding-top: 60px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  flex-direction: column;
}

/*
==============================
  폼 헤더 스타일
==============================
*/
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.headerLink {
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.logoImage {
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .headerLink {
    padding: 0;
  }
}