.footer {
  background-color: var(--color-gray-900);
  padding: 32px 0;
  font-size: 16px;
  color: var(--color-gray-200);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px;
}

.copyright {
  flex: 1 0 100%;
  order: 3;
}

.nav {
  display: flex;
  gap: 30px;
}

.navLink {
  color: var(--color-gray-200);
}

.social {
  display: flex;
  gap: 10px;
}

.socialLink {
  display: block;
}

.socialIcon {
  display: block;
}

/*
==============================
  미디어 쿼리 태블릿 스타일
==============================
*/
@media (min-width: 768px) {
  .copyright {
    flex: unset;
    order: unset;
  }
}

