.header {
  position: sticky;
  top: 0;
  left: 0;
  padding: clamp(9px, 0.83vw, 16px) 0;
  background-color: var(--color-gray-50);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logoImage--pc {
  width: 153px;
  display: none;
}

.header__logoImage--mobile {
  display: block;
}

.header__loginBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: var(--color-primary-100);
  color: var(--color-gray-100);
  border-radius: 8px;
  cursor: pointer;
  border: 0;
}

.header__left--nav {
  display: flex;
  gap: 32px;
  align-items: center;
}

.header__left__nav--menu {
  display: flex;
  height: 100%;
}

.header__left__nav--menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 15px;
}

.header__left__nav--menu-item-link {
  font-size: var(--text-lg-size);
  font-weight: var(--font-weight-bold);
  color: var(--color-gray-900);
}

.header__left__nav--menu-item-link--active {
  color: var(--color-primary-100);
}

@media (min-width: 768px) {
  .header__logoImage--pc {
    display: block;
  }

  .header__logoImage--mobile {
    display: none;
  }
}