/*
==============================
  폼 블록 스타일
==============================
*/
.form-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}

.form-block__group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-block__label {
  font-weight: bold;
  font-size: clamp(14px, 0.938vw, 18px);
  color: var(--color-gray-800);
}

.form-block__input {
  width: 100%;
  padding: 16px 24px;
  border-radius: 12px;
  font-size: clamp(14px, 0.938vw, 18px);
  background-color: var(--color-gray-100);
  outline: none;
  border: 0;
}

.form-block__button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  border-radius: 60px;
  font-weight: var(--font-weight-semibold);
  font-size: 20px;
  background-color: var(--color-primary-100);
  color: var(--color-gray-100);
  border: 0;
}

/*
==============================
    간편 로그인 블록
==============================
*/

.oauth-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  background-color: var(--color-gray-100);
  margin-bottom: 24px;
  border-radius: 10px;
}

.oauth-block__text {
  font-weight: 500;
  font-size: 16px;
  color: var(--color-gray-800);
}

.oauth-block__group {
  display: flex;
  gap: 10px;
}

/*
==============================
    폼 푸터 스타일
==============================
*/

.form__footer {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-gray-800);
  gap: 10px;
}

.form__footer-link {
  color: var(--color-primary-100);
  text-decoration: none;
}