.addItem__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 17px;
  padding-bottom: 35px;
}

.addItem__section {
  display: flex;
  flex-direction: column;
}

.addItem__section__form--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addItem__section__form--header__title {
  font-weight: var(--font-weight-bold);
  font-size: var(--text-xl-size);
  line-height: var(--text-xl-line);
  color: var(--color-gray-800);
}

.addItem__section__form--header__button {
  font-weight: var(--font-weight-semibold);
  font-size: var(--text-lg-size);
  line-height: var(--text-lg-line);
  padding: 12px 24px;
  border-radius: 8px;
  background-color: var(--color-primary-100);
  color: var(--color-gray-100);
  border: 0;
  cursor: pointer;
}

.addItem__section__form--header__button:disabled {
  background-color: var(--color-gray-400);
  cursor: not-allowed;
}

.addItem__section__form {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.addItem__section__form--group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.addItem__section__form--group__label {
  font-weight: var(--font-weight-bold);
  font-size: var(--text-lg-size);
  line-height: var(--text-lg-line);
  color: var(--color-gray-800);
}
