.header {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  flex-direction: column;
}

.title {
  margin-bottom: 0;
}

.headerGroup {
  position: relative;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
}

.searchContainer {
  position: relative;
  flex: 1 1 auto;
}

.searchContainer::before {
  content: '';
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url('../../../../assets/images/icons/ic_search.png');
  background-size: contain;
}

.searchInput {
  width: 100%;
  padding: 12px 20px;
  font-weight: var(--font-weight-regular);
  font-size: var(--text-lg-size);
  line-height: var(--text-lg-line);
  color: var(--color-gray-800);
  border: 1px solid var(--color-gray-200);
  border-radius: 12px;
  background-color: var(--color-gray-100);
  padding-left: 45px;
}

.createButton {
  position: absolute;
  top: calc(-100% - 6px);
  right: 0;
  width: 133px;
  padding: 12px 0;
  font-weight: var(--font-weight-medium);
  font-size: var(--text-lg-size);
  line-height: var(--text-lg-line);
  color: #fff;
  border: 0;
  border-radius: 12px;
  background-color: var(--color-primary-100);
  cursor: pointer;
  text-align: center;
}

.sortContainer {
  width: 42px;
  border: 1px solid var(--color-gray-200);
  border-radius: 12px;
}

@media (min-width: 768px) {
  .header {
    justify-content: space-between;
  }

  .createButton {
    position: relative;
    top: 0;
  }

  .sortContainer {
    width: auto;
  }
}
